.contactSection {
    width: 80vw;
    display: flex;
    padding: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    /* border: 2px solid rgba(0, 140, 255, 0.521); */
    /* background-color: rgba(0, 140, 255, 0.521); */
}

.contactInfo {
    width: 40%;
    text-align: center;
    /* border: 2px solid rebeccapurple; */
    background-color: #7AC3FF;
    padding: 10px;
    
}
.pInfo {
    padding-bottom: 20px;
    color: white;
    line-height: 25px;
    
}
.map {
    width: 60%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* border: 2px solid pink; */
    
}

.map div{
    width: 90%;
    text-align: center;
    /* border: 2px solid black; */
    background-color: white;
}

h3 {
    font-family: 'Cormorant', serif;
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
    color: rgb(0, 0, 0);

}

h4{
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}

iframe {
    padding: 15px;
}

.pJustify {
    font-size: 12px;
    text-align: justify;
    
}

footer {
    width: 100%;
    height: 5.9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7AC3FF;
    color: white;
}